*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{display: flex; align-items: center; text-align: center; justify-content: center; height: 100vh;}

.container .btn{
  background-color: whitesmoke;
  color: black;
  transition: all 0.5s ease-in-out;
}

.container .btn:hover{
  border: 0;
  border-radius: 5px;
}
